@font-face{font-family:'fontawesome';src:url('../fonts/fontawesome.eot');src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome.svg#fontawesome') format('svg'), url('../fonts/fontawesome.woff') format('woff'), url('../fonts/fontawesome.ttf') format('truetype');font-weight:normal;font-weight:lighter;font-style:normal;font-weight:bold;}
body, html{font-size:100%;padding:0;margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
*, *:after, *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:'Lato', Calibri, Arial, sans-serif;}
button:focus{outline:0;}
.control button{color:white;cursor:pointer;font-size:18px;margin-left:35px;background:none;border:none;font-weight:400;margin-left:35px;outline:none;display:inline-block;float:left;padding:0px 0px 0px 0px;margin-top:46px;margin-bottom:46px;}
.control button:hover{background:none;color:#f6f3af;}
.control button.active{background:none;border:none;outline:none;}
.control-footer > button{color:white;cursor:pointer;font-size:15px;background:none;border:none;line-height:50px;margin-left:18px;font-weight:400;margin:0;padding:0;margin-left:35px;z-index:2;}
.control-footer button:hover{background:none;color:#f6f3af;}
.control-footer button.active{background:none;}
.CheckBoxImages{background-repeat:no repeat;background-position:right top;float:right;}
.CheckBoxHeight{height:25px;}
.CheckBoxTitle{height:30px;color:#FFF;}
.accordion{width:380px;height:90%;position:fixed;overflow-y:scroll;}
.accordion a{display:block;color:#f6f3af;padding:10px 35px;text-decoration:none;}
.accordion-title{background:rgba(41,84,41,0);color:#f6f3af;font-weight:bold;margin:0px;cursor:pointer;}
.accordion-title:hover{background-color:rgba(255,255,255,0.4);border-width:0;border-top:0.2px solid #bfbfbf;border-bottom:0.2px solid #bfbfbf;-webkit-transition:background-color 0.2s ease;-moz-transition:background-color 0.2s ease;-o-transition:background-color 0.2s ease;transition:background-color 0.2s ease;text-shadow:3px 3px 10px black;text-decoration:none;}
.accordion-title a:active{background-color:rgba(246,243,175,0.9);color:#FFF;}
.accordion-title a:selected{background-color:rgba(246,243,175,0.9);color:#FFF;}
.accordion-title a:focus{background-color:rgba(255,255,255,0.4);}
.accordion-content{padding:5px;margin:5px;background:rgba(41,84,41,0);width:300px;font-weight:lighter;margin-left:35px;margin-right:18px;}
.arrowimage{width:auto;height:10px;vertical-align:middle;padding-left:7px;float:right;}
.CheckboxText{padding-left:7px;color:#EEEEEE;text-align:center;font-weight:lighter;}
.topbar{background-color:rgba(41, 84, 41, 1);top:0;position:fixed;height:120px;width:100%;vertical-align:middle;z-index:2;-moz-box-shadow:0px 1px 10px 1px #191919;-webkit-box-shadow:0px 1px 10px 1px #191919;box-shadow:0px 1px 10px 1px #191919;}
.logo{line-height:120px;margin-right:35px;float:right;}
.smalllogo{float:right;margin-right:35px;line-height:120px;display:none;}
.footer{bottom:0;position:fixed;right:0;width:340px;height:50px;background-color:rgba(41, 84, 41, 1);z-index:2;}
.SurveyLink{color:#f6f3af;text-decoration:none;font-weight:lighter;}
.SurveyLink:hover{text-shadow:1px 1px 3px black;}
.zoom-container{background:none;position:fixed;top:140px;right:20px;z-index:10;-webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.75);-moz-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.75);box-shadow:0px 0px 6px 0px rgba(0,0,0,0.75);}
.zoom-controls{margin-top:35px;margin-right:35px;float:right;display:block;position:fixed;}
.BackgroundZoomIn{}
.BackgroundZoomIn:hover{opacity:0.85;cursor:pointer;}
.BackgroundZoomOut{}
.BackgroundZoomOut:hover{opacity:0.85;cursor:pointer;}
#searchbox{margin-left:35px;margin-bottom:-13px;padding-bottom:0px;margin-top:-5px;}
input:focus::-webkit-input-placeholder{color:transparent;}
input:focus:-moz-placeholder{color:transparent;}
input:focus::-moz-placeholder{color:transparent;}
#searchbox input{outline:none;}
#searchbox input[type="text"]{border-width:0px;border-style:none;font-family:'Lato', Calibri, Arial, sans-serif;font-size:12px;color:black;width:241px;padding:8px 15px 8px 8px;}
#SearchButton{background:#FFF;border-width:0px;padding:8px 10px 8px 8px;width:65px;cursor:pointer;font-family:'Lato', Calibri, Arial, sans-serif;font-size:12px;color:rgba(41, 84, 41, 1);}
#SearchButton:hover{background:#f6f3af;}
#SearchButton:active{background:#f6f3af;}
#SearchButton::-moz-focus-inner{border:0;}
.SearchResultsContainer{margin-left:35px;margin-bottom:-13px;margin-top:-5px;border-width:0px;border-style:none;font-family:'Lato', Calibri, Arial, sans-serif;font-size:12px;color:black;position:relative;z-index:999;bottom:10px;background-color:rgba(255, 255, 255, 0.7);width:241px;}
.SearchResultsContainer a{padding-left:8px;padding-top:7px;padding-bottom:7px;font-size:14px;text-decoration:none;display:block;opacity:1;transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;-webkit-transition:opacity .25s ease-in-out;color:rgba(41, 84, 41, 1);}
.SearchResultsContainer a:hover{color:#f6f3af;padding-left:12px;opacity:0.7;text-shadow:3px 3px 10px black;-webkit-animation:fadein 3s;-moz-animation:fadein 3s;-ms-animation:fadein 3s;-o-animation:fadein 3s;animation:fadein 3s;}
.break3{margin-left:35px;margin-right:35px;}
hr{margin-top:1rem;margin-bottom:1rem;border-width:0;border-top:1px dotted #E1E1E1;}
.PopupPicture{width:auto;height:150px;margin:0 auto;display:block;}
.PopUpContent{font-size:12px;}
@media screen and (max-width:700px){.logo{display:none;}
.smalllogo{margin-right:35px;float:right;display:inline;line-height:120px;}
@media screen and (max-width:700px){.footer{width:200px;height:40px;}
.control-footer button{color:white;cursor:pointer;font-size:13px;background:none;border:none;line-height:40px;margin-left:14px;}
@media screen and (max-width:700px){#searchbox input[type="text"]{border-width:0px;border-style:none;font-family:'Lato', Calibri, Arial, sans-serif;font-size:12px;color:black;width:212px;padding:8px 15px 8px 8px;}
#SearchButton{background:#FFF;border-width:0px;padding:8px 10px 8px 8px;width:65px;cursor:pointer;font-family:'Lato', Calibri, Arial, sans-serif;font-size:12px;color:rgba(41, 84, 41, 1);}
#SearchButton:hover{background:#f6f3af;}
#SearchButton:active{background:#f6f3af;}
#SearchButton::-moz-focus-inner{border:0;}
@media screen and (max-width:700px){.clear-selection{margin-left:35px;margin-top:12px;margin-bottom:25px;font-size:14px;}
.clear-selection a:link{font-size:14px;text-decoration:none;font-weight:600;}
.clear-selection a:hover{font-size:14px;text-decoration:none;font-weight:600;color:#f6f3af;}
}