.MenuBox{background-color:rgba(41, 84, 41, 0.9);position:fixed;width:380px;top:120px;z-index:1;bottom:0;display:block;left:-380px;height:100%;bottom:0px;overflow:auto;overflow-x:hidden;display:block;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
.SlideBox{background-color:rgba(41, 84, 41, 0.9);position:fixed;height:1400px;bottom:0;}
.SlideBox-vertical{width:380px;height:1400px;top:120px;z-index:1;display:block;overflow-y:scroll;}
.SlideBox-left{left:-380px;height:1400px;overflow-y:scroll;}
.SlideBox-left.SlideBox-open{left:0px;height:auto;display:block;overflow:auto;}
.SlideBox-horizontal{width:340px;height:500px;right:0;z-index:1;overflow-y:hidden;}
.SlideBox-bottom{bottom:-500px;z-index:1;overflow-y:hidden;}
.SlideBox-bottom.SlideBox-open{bottom:-500px;z-index:1;height:500px;overflow-y:hidden;}
#map{z-index:-1;}
@media screen and (max-width:700px){.SlideBox-horizontal{font-size:75%;height:400px;width:200px;}
.SlideBox-bottom{bottom:-400px;}
}
@media screen and (max-width:700px){.SlideBox-vertical{font-size:90%;width:280px;}
.SlideBox-left, .SlideBox-push-toleft{left:-280px;}
}