@charset "utf-8";
/*
* These are styles for the elements of a CanvasMap.
* Change these as you desire to change the appearance of the elements in the CanvasMap
*/

/* The class for the div containing the title and tools */
.CM_MapContainer {
	position:relative;
	left:0px;
	top:0px; /* where is this positioning controlled CM_ALERT */
	width:560px;
	height:600px; 
	border:solid black 1px;
	
	/* The .noselect css styles are used to prevent selectable text within the CM_MapContainer */
 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.CM_CanvasContainer
{
	position:absolute;
	left:0px;
	top:0px; /* where is this positioning controlled CM_ALERT */
	width:560px;
	height:600px;
}

.CM_Canvas
{
	position:absolute;
	left:0px;
	top:0px;
}

/* styles specific to the Africa example */
.CM_CoordinateBox
{
	border:solid black 1px;
	background-color:white;
	border-radius:6px;
	box-shadow:0px 0px 10px rgb(0,0,0);
	padding:6px;
	font:14px arial,serif;
	text-align:center;
}
		
.CM_InfoBox
{
	border:solid black 1px;
	background-color:white;
	border-radius:6px;
	box-shadow:0px 0px 10px rgb(0,0,0);
	padding:6px;
	font:14px arial,serif;
}
		
.CM_Legend
{
	border:solid black 1px;
	background-color:white;
	border-radius:6px;
	box-shadow:0px 0px 10px rgb(0,0,0);
	padding:6px;
	font:14px arial,serif;
}
		
.CM_AttributeHeadingList
{
	border:solid black 1px;
	background-color:white;
	border-radius:6px;
	box-shadow:0px 0px 10px rgb(0,0,0);
	padding:6px;
	font:14px arial,serif;
}
